.letra {
    font-family: Verdana, sans-serif;
    font-size: 18px;
}
.rosado-chico {
    color: black;
    background-color: pink;
}

.azul-grande {
    font-size: 36px;
    font-weight: 500;
    color: blue;
}

.rosado-grande {
    font-size: 24px;
}

.verde-negrilla {
    font-size: 24px;
    font-weight: 900;
    background-color: lightgreen;
}